p{
    font-family:  Roboto,arial;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}
body{
    margin: 0;
    padding-top: 90px;
    height: 2000px;
    padding-left: 110px;
    padding-right: 25px;
    background-color: rgba(245, 243, 243, 0.521);
}
.video-time{
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding: 2px;
    border-radius: 3px;
    font-family:roboto,arial;
}